<form (ngSubmit)="onSubmit()" [formGroup]="kittenForm" #kittyForm="ngForm">
  <h2>Créer un chat</h2>
  <label for="name">Nom : </label>
  <input type="text" name="name" formControlName="name" />

  <label for="race">Race : </label>
  <input type="text" name="race" formControlName="race" />

  <label for="birth-date">Date de naissance : </label>
  <input type="date" name="birth-date" formControlName="birthDate" />

  <label for="img">Source de l'image : </label>
  <input type="text" name="img" formControlName="img" />

  <button
    type="submit"
    [ngStyle]="
      kittenForm.valid ? { backgroundColor: 'green', color: 'white' } : null
    "
  >
    Créer
  </button>
</form>

<p *ngIf="kittyForm.submitted && !kittyForm.valid">
  Tous les champs doivent etre remplis
</p>
