<form
  (ngSubmit)="movieForm.valid && handleSubmit()"
  [formGroup]="movieForm"
  #myForm="ngForm"
>
  <div formGroupName="identifiers">
    <div>
      <label for="id">Id</label>
      <input
        placeholder="Identifiant du film"
        type="text"
        id="id"
        formControlName="id"
      />
    </div>

    <div>
      <label for="title">Titre</label>
      <input
        placeholder="Titre du film"
        type="text"
        id="title"
        formControlName="title"
      />
    </div>
    <div
      class="error"
      *ngIf="movieForm.controls['identifiers'].errors?.['isRequired'] && myForm.submitted"
    >
      L'un des deux champs 'Identifiant' ou 'Titre' doit être renseigné
    </div>
  </div>

  <div class="type">
    <label for="type">Type</label>
    <select formControlName="type" id="type">
      <option *ngFor="let type of types" [ngValue]="type.value">
        {{ type.name }}
      </option>
    </select>
  </div>

  <div class="releasedDate">
    <label for="releasedDate">Date</label>
    <input
      placeholder="Entrez une releasedDate"
      type="number"
      id="releasedDate"
      formControlName="releasedDate"
    />
    <div
      class="error"
      *ngIf="movieForm.controls['releasedDate'].errors?.['required'] && myForm.submitted"
    >
      Date requise
    </div>
    <div
      class="error"
      *ngIf="movieForm.controls['releasedDate'].errors?.['min'] && !movieForm.controls['releasedDate'].errors?.['required'] && myForm.submitted"
    >
      L'année doit être comprise entre
      {{movieForm.controls['releasedDate'].errors?.['min'].expected.minDate}}
      et
      {{movieForm.controls['releasedDate'].errors?.['min'].expected.maxDate}}
    </div>
  </div>

  <div class="fiche">
    <label for="fiche">Fiche</label>
    <select formControlName="fiche" name="fiche" id="fiche">
      <option *ngFor="let fiche of fiches" [ngValue]="fiche.value">
        {{ fiche.name }}
      </option>
    </select>
  </div>

  <button type="submit">Rechercher</button>
</form>
